.side-drawer {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 70%;
  background: #fcfcfc;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer-header_logo {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-drawer-header_logo a {
  font-size: 1.3em;
  color: #0253a4;
}

.side-drawer nav {
  width: 100%;
}

.side-drawer ul {
  list-style: none;
}

.main-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.main-menu li {
  width: 100%;
  color: black;
  padding: 13px 0;
  border-top: 1px solid rgb(233, 233, 233);
}

.main-menu li:last-child {
  border-bottom: 1px solid rgb(233, 233, 233);
}

.line {
  height: 2px;
  background: rgb(199, 199, 199);
}

.main-menu a {
  color: black;
  margin-left: 25px;
}

.roster-div {
  width: 75px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 25px;
  /* background: yellow; */
}

.sub-menu {
  padding: 0;
  display: none;
  width: 100%;
}

.sub-menu li {
  border: none;
  padding: 5px 0;
  width: 100%;
  /* background: #f2f8fd; */
}

.sub-menu li:last-child {
  border: none;
}

.sub-menu.open {
  display: flex;
  flex-direction: column;
  /* background: yellow; */
  margin-top: 13px;
  /* margin-bottom: -13px; */
}

.sub-menu.open a {
  font-size: 15px;
  color: #666666;
  margin-left: 50px;
}

.sort-down {
  margin-left: 10px;
  margin-bottom: 3px;
}

.side-drawer li a:hover,
.side-drawer li:hover,
.side-drawer li:active {
  color: #0253a4;
}

@media screen and (min-width: 768px) {
  .side-drawer {
    width: 60%;
  }
  .side-drawer-header_logo {
    height: 150px;
  }
  .side-drawer-header_logo a {
    font-size: 1.8em;
  }
  .main-menu {
    font-size: 20px;
  }
  .main-menu li {
    padding: 20px 0;
  }
  .main-menu a,
  .roster-div {
    margin-left: 45px;
  }
  .sub-menu.open a {
    margin-left: 90px;
    font-size: 20px;
  }
  .sub-menu li {
    padding: 10px 0;
  }
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .side-drawer {
    width: 50%;
  }
  .side-drawer-header_logo {
    height: 50px;
  }
  /* .main-menu {
    margin-top: 0;
  }
  .main-menu li {
    margin: 15px 0 0 0;
    width: 80%;
  } */
  .sub-menu.open {
    flex-direction: row;
    /* justify-content: center; */
    flex-wrap: wrap;
    padding-left: 25px;
  }
  .sub-menu.open li {
    width: 33%;
    /* margin: 4px 0 0 0; */
    /* background: yellow; */
  }
  .sub-menu.open a {
    font-size: 14px;
    margin: 0;
  }
}

@media screen and (min-width: 600px) and (orientation: landscape) {
  .side-drawer-header_logo {
    height: 80px;
  }
}
